@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    
    --orange: orange;
    --skyBlue: rgb(106, 106, 216);
    --lightGrey: rgb(227, 227, 227);
    --white: white;
}

.container {
    display: grid;
    grid-template-columns: minmax(200px, 15%) 1fr;
}

#sidebar {
    background-color: var(--skyBlue);
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr 20%;
    grid-template-rows: auto 1fr 1fr 1fr;
    background-color: var(--lightGrey);
    padding: 20px;
    gap: 20px;
    position: relative;
    z-index: -1;
}

.projects-heading{
    grid-column: 1 / 3;
    margin: 0;
}

.announcements-heading {
    grid-column: 3/ -1;
    grid-row: 1 / 2;
    margin: 0;
}

.main-side {
    grid-column: 3 / -1;
    grid-row: 2 / -1;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.logo {
    margin-top: 15px;
    margin-left: 15px;
}

.logo i {
    color: var(--white);
    font-size: 24px;
}

.logo a {
    color: var(--white);
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    margin-left: 15px;
}


ul {
    padding: 20px;

}

li {
    display: grid;
    grid-template-columns: 2fr 8fr;
    margin-bottom: 15px;
} 

li a {
    text-decoration: none; 
    color: var(--white);
    font-weight: 500;
}

li i {
    color: var(--white);
}

.top-shadow {
    -webkit-box-shadow: 3px 3px 7px -2px rgba(0,0,0,0.2);
    -moz-box-shadow: 3px 3px 7px -2px rgba(0,0,0,0.2);
    box-shadow: 3px 3px 7px -2px rgba(0,0,0,0.2);
}

.top-container {
    width: 95%;
    margin: 0 auto;
}

.top {
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-rows: 1fr 1fr;
}

.search {
  display: flex;
  align-items: center;
  justify-content: start;
}

.search i {
    margin: 15px;
}

#search {
    border: none;
    background-color: var(--lightGrey);
    padding: 8px;
    border-radius: 30px;
    width: 90%;
    height: 26px;

}

.buttons {
    display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}

.buttons a {
    background-color: var(--skyBlue);
    text-decoration: none;
    color: var(--white);
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 700;
}

.img-small {
    height: 50px;
    border-radius: 50%;
}

.img-big {
    height: 80px;
    border-radius: 50%;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user p {
    font-weight: 700;
}

.user-info {
    display: flex;
    align-items: center;
}

.greeting {
    font-weight: 700;
    margin: 0;
    margin-bottom: 5px;
    font-size: 12px;
}

.alias {
    font-weight: 700;
    font-size: 20px;
    margin: 0;
}

.card {
    background-color: var(--white);
    border-radius: 10px;
    border-left: 7px solid var(--orange);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -webkit-box-shadow: 3px 3px 7px -2px rgba(0,0,0,0.2);
    -moz-box-shadow: 3px 3px 7px -2px rgba(0,0,0,0.2);
    box-shadow: 3px 3px 7px -2px rgba(0,0,0,0.2);
}

/* .card-heading {
    margin: 20px;
} */

.card-heading h6 {
    font-size: 16px;
    margin: 0px;
}

.card-heading p {
    margin: 0;
}

.card-icons {
    align-self: flex-end;
}

.card-icons i {
    margin-left: 15px;
}

#announcements {
    background-color: var(--white);
    border-radius: 10px;
    padding: 20px;
}

.an-title {
    font-size: 12px;
    margin: 0 0 5px 0;
}

.announcement p {
    font-size: 10px;
    margin: 0px;
}

hr {
    margin-bottom: 10px;
    margin-top: 10px;
}

#trending {
    background-color: var(--white);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.trending-user {
    display: flex;
    align-items: center;

}

.name-desc h6 {
    margin: 0;
}

.name-desc p {
    margin: 0;
    font-size: 10px;
}

.trending-container h4 {
    margin: 0;
    margin-bottom: 15px;
}


